.generate {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: calc(4px + 2vmin);
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    height: 10%;
    margin: 20px;
}

.generate:hover {
    background: #0b7dda;
}

.generate:disabled,
.generate[disabled] {
    background-color: #a0bcf7;
    cursor: not-allowed;
}